:root /*make variables*/
{
    /*color pallete*/
  --light: #d6b9ed;
  --mainColor: #b66bcd;
  --dark: #2c123c;
  --darkGreen: #016e0c;
  --lightGreen: #7fad47;
  --greyish: #d9cae0;
}

* /*universal selector*/
{
  color: var(--dark);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-wrap: break-word;
}

a{
  text-decoration: none;
  color: var(--dark);
}

a:hover{
  text-decoration: underline;
  color:#00832c ;
}

.git:hover{
  border-radius: 50px;
  box-shadow: 0 0 10px var(--dark);
}

.header
{
  background-image: linear-gradient(var(--mainColor),var(--light));
  padding: 30px; 
  width: 100%;
}

.header h1:after /*The owl mascot*/
{
  --owlSize: 90px;
  content: "";
  background-image: url("./assets/images/owl-mascot.png");
  background-size: var(--owlSize);
  height: var(--owlSize);
  width: var(--owlSize);
  position: absolute;
  display: inline-block;
  margin-left: 20px;
  margin-top:  -23px; 
  
}

.header .custom-nav
{
  margin-top: 5px;  
}

.nav-item
{
  display: inline-block;
  text-decoration: none;
  margin-right: 25px;
}

.page
{
  background-image: linear-gradient(var(--light),var(--greyish));
  min-height: calc(100vh - 220px); 
  padding: 3% 5%;
}

.about-page{
/* top right bottom left*/
 padding: 5% 15% 5% 15%;
}

.boxes
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.thumbnail
{
  height: 250px;
  width: 450px;
  border: 5px solid var(--lightGreen);
  border-radius: 30px;
  
}

.work
{
  display: flex;
  flex-direction: column;
  margin:  30px;
  text-align: center;
}

.hasLink:hover
{
  box-shadow: 0 0 10px var(--dark);
}

.description{
  font-size: small ;
}

.footer
{
  background-color: var(--greyish);
  padding: 30px; 
  height: 100px;
  width: 100%;
}

#signature
{
  max-height: 60px;
  max-width: 250px;
  float: right;
}

#feather
{
  max-height: 85px;
  max-width: 20px;
  transform: rotate(45deg);
  margin-top: -10px;
  float: right;
}

.page ul li
{
  display:inline-flex;
  margin-right: 20px;
  padding-left: 5px;
  border-left: 5px solid var(--darkGreen);
   
}

@media screen and (max-width: 768px) /*screen is less than 768*/
{
  .header h1:after /*Smaller owl mascot*/
  {
    --new-owl: 60px;
    background-size: var(--new-owl);
    height: var(--new-owl);
    width: var(--new-owl);
    margin-top:  -20px; 
  
  }
  .work
  {
    height: 80%;
    width: 80%;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .work .thumbnail
  {
    border: 3px solid var(--lightGreen);
    height: 90%;
    width: 90%;
  }
  .git{
    height: 50%;
    width: 50%;
  }

}
